<% provide(:title, "About") %>
<h1>サンプルアプリケーションについて</h1>
<p>
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  は、<a href="http://rubyonrails.org/">Ruby on Rails</a>でWeb開発を教えるための
  <a href="https://railstutorial.jp/#ebook">テキスト</a> 及び、
  <a href="https://railstutorial.jp/#screencast">動画教材</a>です。
  これは、チュートリアルのサンプルアプリケーションです。
</p>