<% provide(:title, "ヘルプ") %>
<h1>ヘルプ</h1>
<p>
  Ruby on Rails Tutorial のヘルプは
  <a href="https://railstutorial.jp/help">Rails Tutorial help page</a>
  をご覧ください。
  このサンプルアプリケーションのヘルプを表示するには、
  <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>
  book</a>を参照してください。
</p>